* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

/* :root {
    --cor-principal: #248;
    --cor-secundaria: #ccc;
    --borda: 1px solid red;
} */

:root {
    --cor-principal: #04cb63;
    --cor-secundaria: #fcb058;
    --cor-terciaria: #F2F2F2;
    --cor-quarternaria: #0D0D0D;
    --bordaRed: 1px solid red;
    --bordablue: 1px solid blue;
    --bordaGreen: 1px solid green;
    --cor-fundo-suave: #f4f4f4;
    --cor-verde-claro: #66e6a8;
    --cor-verde-escuro: #038c4c;
    --cor-azul-suave: #58c4fc;
    --cor-amarelo-suave: #ffe066;
    --cor-texto-cinza-escuro: #3a3a3a;
}


body {
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
}

/** tela de inicio**/

#conteudoInico {
    /* border: var(--bordaRed); */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#conteudoTexto {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: var(--bordaRed); */
    width: 40%;
    height: 80%;
}



#conteudoAni {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}



/****************************/



/*MENU LATERAL*/
#divListaMenu {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 300px;
    /* border: var(--borda); */
    height: 100vh;
}

#contatos_Maisson {
    display: flex;
    /* border: var(--bordaRed); */
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    padding: 5px;
}

.imgContato_Maisson {
    width: 32px;
}


#menuLista {
    position: relative;
    /* border: var(--bordablue); */
    background-color: #cccccca3;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.btn_menu {
    background-color: var(--cor-quarternaria);
    color: white;
    width: 90%;
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.ocultar {
    margin-left: -271px !important;
    transition: all 2s;
}

#hamb {
    border-radius: 50%;
    margin-top: 5px;
    cursor: pointer;

}

#hamb:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.4),
        0 0 30px rgba(255, 255, 255, 0.3),
        0 0 40px rgba(255, 255, 255, 0.2);
}

.borda {
    border: var(--borda);
}

#iframeDiv {
    width: 100%;
    max-height: calc(100vh-100px);
    /* border: var(--borda); */
}

#bar {
    color: var(--cor-quarternaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40px;
    background-color: var(--cor-secundaria);
    /* border: var(--borda); */
}

/**********************************/


/*centralizar*/
.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*************/