<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../estoque_geral.css">
    <link rel="stylesheet" href="../public/assets/css/index.css">
    <title>Document</title>
</head>

<body>
    <!-- BARRA DO TOPO -->
    <div id="bar">
        <div></div>
        <div>LOGO</div>
        <div class="center">
            config
            <img src="../../imgs/config.svg" alt="">
        </div>
    </div>
    <!-- FIM BARRA TOPO -->

    <!-- MENU LATERAL -->
    <div>
        <div>

        </div>

        <div id="divListaMenu" class="ocultar">
            <div id="menuLista">
                <a href="colaboradores_html/colaboradores.html" target="cxifra" class="btn_menu">colaborador</a>
                <a href="#" class="btn_menu" target="cxifra">colaborador</a>
                <a href="#" class="btn_menu" target="cxifra">colaborador</a>
                <a href="#" class="btn_menu" target="cxifra">colaborador</a>
            </div>

            <img src="../../imgs/menu.svg" id="hamb" alt="hamburguer" width="32">

        </div>

    </div>

    <!-- FIM MENU LATERAL -->

    <!-- IFRAME DAS PAGINAS -->
    <div id="iframeDiv">
        <iframe id="iframeArq" src="" frameborder="0" name="cxifra"></iframe>
    </div>
    <!-- FIM IFRAME DAS PAGINAS -->

    <script src="../../estoque_geral.js"></script>
</body>

</html>