<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../estoque_geral.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../public/assets/css/index.css"> -->
    <title>Document</title>
</head>

<body>
    <!-- conteudo da tela inicio -->
    <div id="conteudoInico">
        <!-- conteúdo de texto -->
        <div id="conteudoTexto">
            <h1>CONTROLE DE ESTOQUE</h1>
            <p>O projeto "Controle de Estoque" faz parte do curso de JavaScript do canal CFB Cursos e ensina a criar
                sistemas web dinâmicos usando HTML, CSS e JavaScript. O foco está no desenvolvimento de um sistema de
                gerenciamento de estoque, permitindo o registro, visualização e controle de produtos. A interface é
                moderna e interativa, e o JavaScript é utilizado para manipular dados em tempo real, proporcionando uma
                aplicação funcional para controle de inventário.</p>
        </div>

        <!-- animação -->
        <div id="conteudoAni">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                type="module"></script>

            <dotlottie-player src="https://lottie.host/4ab5a421-3bf6-4f36-9679-ab8d8424c68d/BnvSyGMbjx.json"
                background="transparent" speed="1" style="width: 700px; height: 700px;" loop
                autoplay></dotlottie-player>
        </div>
    </div>

    <!-- <script src="../public/assets/js/index.js"></script> -->
</body>

</html>